.CollapsibleBtn {
  border: none;
  background-color: inherit;
}

.CollapsibleBtn:focus {
  outline: none;
}

.HiddenContent {
  display: none;
  background-color: white;
  opacity: 1;
  position: absolute;
  top: 50px;
  right: 0px;
  width: 300px;
  z-index: 999;
}