.ProductContainer {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.ProductPictures {
  grid-area: 1 / 1 / 4 / 4;
  text-align: center;
  margin-bottom: 40px;
}

.ProductShortDescription {
  grid-area: 1 / 4 / 4 / 6;
  padding-right: 20px;
  height: fit-content;
}

.ProductPayArea {
  grid-area: 1 / 6 / 4 / 8;
  margin-top: 20px;
  padding: 10px;
  border-style: solid;
  border-width: thin;
  border-color: #cccccc;
  border-radius: 6px;
  height: fit-content;
}

.ProductLongDescription {
  grid-area: 4 / 1 / 5 / 8;
}

.ProductSimilarArea {
  grid-area: 5 / 1 / 6 / 8;
}

.ProductTitle {
  margin-bottom: 20px;
}

.ProductUnderline {
  border-bottom: 1px solid #333333;
  margin-bottom: 10px;
  margin-top: 10px;
}

.ProductButton {
  background-color: #fcdf63;
  border-radius: 8px;
  text-align: center;
  float: left;
  padding: 4px;
  margin-right: 10px;
}

.ProductButtonHolder {
  display: inline;
}

@media only screen and (min-width: 1650px) {}

@media only screen and (min-width: 992px) and (max-width: 1366px) {}

@media only screen and (min-width: 576px) and (max-width: 992px) {
  .ProductContainer {
    padding-top: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
  }
  .ProductPictures {
    grid-area: 1 / 1 / 2 / 2;
  }
  .ProductShortDescription {
    grid-area: 2 / 1 / 3 / 2;
    padding-right: 0px;
  }
  .ProductPayArea {
    grid-area: 3 / 1 / 4 / 2;
    margin-top: 0px;
  }
  .ProductLongDescription {
    grid-area: 4 / 1 / 5 / 2;
  }
  .ProductSimilarArea {
    grid-area: 5 / 1 / 6 / 2;
  }
}

@media only screen and (max-width: 576px) {
  .ProductContainer {
    padding-top: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
  }
  .ProductPictures {
    grid-area: 1 / 1 / 2 / 2;
  }
  .ProductShortDescription {
    grid-area: 2 / 1 / 3 / 2;
    padding-right: 0px;
  }
  .ProductPayArea {
    grid-area: 3 / 1 / 4 / 2;
    margin-top: 0px;
  }
  .ProductLongDescription {
    grid-area: 4 / 1 / 5 / 2;
  }
  .ProductSimilarArea {
    grid-area: 5 / 1 / 6 / 2;
  }
}